.current-city {
  font-size: 35px;
  text-align: left;
  margin: 0;
  padding-left: 30px;
  padding-top: 30px;
}

.weather-description,
.current-day,
.weather-main {
  font-size: 15px;
  font-weight: normal;
  list-style: none;
  margin: 0;
  text-align: left;
  color: #666363;
}

.current-weather {
  font-size: 53px;
}

.current-weather .temperature {
  font-size: 53px;
  margin-top: 10px;
  vertical-align: text-top;
  line-height: 59px;
}

.current-weather .units {
  color: #666363;
  font-size: 12px;
  line-height: 59px;
  vertical-align: top;
}

.temperature-icon {
  vertical-align: middle;
  padding-right: 10px;
}
